.wwwchartsource {
    @extend .pt-3;
    @extend .pb-3;
    font-size: 1.1rem;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    word-wrap: break-word;
    color: #F5F5F5;
}
