<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="mysql_test"/>
        <server name="REDIS_HOST" value="127.0.0.1"/>
        <server name="REDIS_PORT" value="6380"/>
        <server name="TWITTER_CONSUMER_KEY" value=""/>
        <server name="TWITTER_CONSUMER_SECRET" value=""/>
        <server name="TWITTER_ACCESS_TOKEN" value=""/>
        <server name="TWITTER_ACCESS_TOKEN_SECRET" value=""/>
        <server name="BUFFER_MAIL_HOST" value=""/>
        <server name="BUFFER_MAIL_PORT" value=""/>
        <server name="BUFFER_MAIL_USERNAME" value=""/>
        <server name="BUFFER_MAIL_PASSWORD" value=""/>
        <server name="BUFFER_MAIL_ENCRYPTION" value=""/>
        <server name="BUFFER_MAIL_FROM" value=""/>
        <server name="BUFFER_MAIL_TO" value=""/>
    </php>
</phpunit>
